*{
    margin: 0;
    padding: 0;
}
body,html{
    overflow-x: hidden;
}
:root{
    --darkRed:#E74C3C;
}


/* .controlHello{
    font-size: 100px;
    color: red;
} */

.mainBox-sectionOne{
width: 100%;
margin: auto;

}
.control-redBox{
    width: 70%;
    text-align: center;
    padding: 10px;
    background-color:var(--darkRed);
    color: white;
    margin: 20px auto;
}
.control2Box-sectionOne{
width: 100%;
height: 70vh;
background-image: url("https://images.pexels.com/photos/4484876/pexels-photo-4484876.jpeg?auto=compress&cs=tinysrgb&w=800"),
url("https://images.pexels.com/photos/3771679/pexels-photo-3771679.jpeg?auto=compress&cs=tinysrgb&w=800"),
url("https://images.pexels.com/photos/5560536/pexels-photo-5560536.jpeg?auto=compress&cs=tinysrgb&w=800")

;
background-size: 33.33% ;
background-repeat: no-repeat;
background-position:left,center,right;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
.control2Box-sectionOne h1{
font-size: 4rem;
letter-spacing: 40px;
}
.control2Box-sectionOne h3{
margin-right: 20px;
}

.controlh2backtSchool{
color: lightslategray;
margin: 40px 0px;
}

/* section2 */
/* css of this section is on two box componenet*/
.section2{

}

/* 100% mean for each column */
.section2 img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    margin-bottom: 5px;

}
.controlPicSection3 img{

}

 /*ipad*/
 @media screen and (max-width: 992px) {
    .control2Box-sectionOne{
        height: 40vh; 
        
        }
        .control2Box-sectionOne h1,h3{
            margin-left: 30px;
        }
        .control-redBox{
        margin-top:35px ;
           
        }
        .section2 img{
            height: 40vh;
         
        }
.controlh2backtSchool{
padding: 10px 0px!important;
margin: 20px 0px;
}
/* section2 is in twobox component below */
.section2 img{
    height: 40vh;
}
.controlPicSection3 img{
    height: 30vh;
    margin-top: 10px;

}

 }
 
 /*ipad-mini*/
 @media screen and (max-width: 768px) {
 }
 
 /*phone*/
 @media screen and (max-width: 600px) {
    .control-redBox{
 width: 90%;
 margin: 20px auto;
           
        }
        .control2Box-sectionOne{
            width: 100%;
            height: 55vh;
            background-image: url("https://images.pexels.com/photos/4484876/pexels-photo-4484876.jpeg?auto=compress&cs=tinysrgb&w=800")
            
            ;
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat
            
            ;
 }
 .controlPhoneSize{
   margin: 0px 0px!important;
   
 }

}
