.mainBox-checkout{
width: 90%;

}

.control2SmallBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.smallleftBox-showOrder{
width: 65%;
background-color: antiquewhite;
display: flex;

}
.controlImageCheckout{
    /* width: 40%;
    height: 250px; */
    background-size: cover; 
  
}
.picLeft-checkout{
/* background-image:url("") ; */
width: 30%;
height: 250px;
background-size: cover;
}
.textRight-checkout{
width: 50%;
padding-left: 100px;
padding-top: 40px;

}
.totalPrice{
display: flex;
justify-content: flex-end;
align-items: flex-end;
width: 20%;
padding-right: 20px;
}



/* check out box */

.smallrightBox-orderSummary{
    width: 30%;
padding: 30px; 
background-color: #E5E7E9 ;

}
.control2box-subtotalAndNumber{
width: 100%;
display: flex;
margin: 20px 0px;
}
.subtotal-text{
    width: 50%;
}
.subtotal-number{
    width: 50%;
   text-align: end;
    
}
.button-checkout{
   width: 90%;
   display: block;
   margin: auto;
   padding: 5px 0px;
   background-color:#515A5A ;
   border-radius: 10px;
   border: none;
   color: white;
   font-weight: bold;

}
.controlUL{
    list-style: none;
}
.controlRemoveButtonCart{
    margin-top: 20px;
    padding: 5px 28px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;

}
.controlDropdown{
  background-color:black;
  border: none;
}
.quantity-dropdown{
    margin-top: 30px;
}
.smallrightBox-showOrder{
text-align: right;
}
