* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}

.mainBox-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  background-color: #e5e8e8;
  padding: 20px;
margin-bottom: -20px;

}

.samllBox-footer {
}
.samllBox-footer h2 {
  font-size: 25px;
}

.controlUL li {
  /* no dot */
  list-style: none;
}
.controlRaibowFooter {
  margin-right: 5px;
  animation: animationRainbow 2s infinite;
}
@keyframes animationRainbow {
  0% {
    color: violet;
  }
  15% {
    color: indigo;
  }
  15% {
    color: indigo;
  }
  30% {
    color: blue;
  }
  45% {
    color: green;
  }
  60% {
    color: yellow;
  }
  75% {
    color: orange;
  }
  90% {
    color: red;
  }
  100% {
    color: violet;
  }
}

.controlInputBox {
    margin: 15px 5px;
}
.controlInputEmail {
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  padding: 5px 10px;
}
.controlSubmitBox {
  padding: 7px 30px;
 
  margin: 10px 0px 10px 50px;
  background-color: black;
  color: white;
  border: none;
}

.controlSubmitBox:hover {
  background-color: violet;
}


.controlBox1{
    padding-left: 80px;

}
/* .controlBox1 h2{
  margin-left: -20px;
} */

.moveSmallBoxLeft{
    padding-left: 50px;
}
.copyRight{
    background-color: #e5e8e8;
   /* display: flex; 
   align-items: center;
   justify-content: center; */
   text-align: center;
 padding-bottom: 10px;

  
}
.copyRight hr{
    height: 2px!important;
    background-color: grey;
}
 /*ipad*/
 @media screen and (max-width: 992px) {
  .mainBox-footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .controlBox1{
    padding-left: 0px;
    grid-column: 1/-1; 
    /* whole section1 is 100% use 1/-1 */
    text-align: center;
padding-top: 20px;
}
.controlSubmitBox {
  margin: 10px 0px 10px 10px;
}
.moveSmallBoxLeft{
  padding-left: 0px;
}
.samllBox-footer h2 {
  font-size: 20px;
}
.useForMediaQuerie1{

grid-column: 1/3;
}
.useForMediaQuerie2{

  grid-column: 3/5;
}
.useForMediaQuerie3{

  grid-column: 5/7;
}

 }
 
 /*ipad-mini*/
 @media screen and (max-width: 768px) {
 }
 
 /*phone*/
 @media screen and (max-width: 600px) {
  .useForMediaQuerie1{

    grid-column: 1/-1;
    text-align: center;
    }
    .useForMediaQuerie2{
    
      grid-column: 1/-1;
      text-align: center;
    }
    .useForMediaQuerie3{
    
      grid-column: 1/-1;
      text-align: center;
    }
    .controlUL{
      text-align: left;
      width: 200px;
      margin: 0px auto 20px auto;

     
    }
    .samllBox-footer h2{
      margin: 10px 0px;
    }
 }
