/* .slide-container{
    background-image: url("https://source.unsplash.com/1600x900/?children");
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

} */
.targetText {
    font-size: 50px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    /* height: 70vh;  */
    /* need to be the same height as main box
    if not use display flex on mainbox */

  
}